.home {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  /*   background: linear-gradient(90deg, #0bacf6 0%, #d9e7ff 100%); */
}

h1 {
  font-weight: 800;
  background: -webkit-linear-gradient(45deg, #4d4d6b, #09b7e7 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3 {
  background: radial-gradient(
    circle at -3.1% -4.3%,
    rgb(3, 78, 85) 0%,
    rgb(1, 8, 25) 90%
  );
}

span {
  font-weight: 900;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 990%;
  color: antiquewhite;
  background-color: chocolate;
  padding: 0 1em;
  margin-top: 0.5em;
  border-radius: 5px;
}
@media (max-width: 968px) {
  span {
    font-size: 700%;
    max-width: 700px;
  }
}
